include ../components/inline-svg

doctype html
html.h-full.bg-black-off.font-body.tracking-wider.overflow-x-hidden(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Emerald Nodes')
    title Emerald Nodes

  body.h-full.flex.flex-col
    .shrink-0(class="md:px-12")
      .p-4.flex.items-center.justify-between.h-48.border-b-2(class="border-white-off/50")
        a.shrink-0(href="/")
          img(src=require('Images/logo-with-text.png') style="height: 100px;")

        -
          var pages = [
            {label: "Get Started", route: "/get-started.html"},
            {label: "Nodes App", route: "https://app.emeraldnodes.finance", targetBlank: true, hideUntilNodesLaunch: true},
            {label: "Swap Site", route: "https://swap.emeraldnodes.finance", targetBlank: true, hideUntilSwapLaunch: true},
            {label: "Whitepaper", route: "/whitepaper.html"},
            {label: "Who Is Emerald", route: "/who-is-emerald.html"},
            {label: "Community|Links", route: "/community.html"},
            {label: "Contact", route: "/contact.html"},
          ]
        div(class="md:self-end")
          button#open-mobile-nav-btn.text-4xl.text-white-off(type='button')(class="md:hidden" aria-label="open navigation menu")
            i.fas.fa-bars
          nav#mobile-nav.absolute.top-0.left-0.w-full.bg-black-off.bg-opacity-90.text-white-off.transition-transform.duration-500
            each page in pages
              a.h-16.w-full.flex.items-center.justify-center.uppercase.font-medium(href=page.route target=page.targetBlank ? "_blank" : "_self" data-hide-until-nodes-launch=page.hideUntilNodesLaunch data-hide-until-swap-launch=page.hideUntilSwapLaunch)= page.label
          .hidden.text-lg(class="md:flex md:items-center md:ml-auto md:space-x-12 text-white-off/50")
            each page in pages
              a.uppercase.cursor-pointer.transition-colors(class="hover:underline" href=page.route target=page.targetBlank ? "_blank" : "_self" data-hide-until-nodes-launch=page.hideUntilNodesLaunch data-hide-until-swap-launch=page.hideUntilSwapLaunch)= page.label

    #content.grow.shrink-0.basis-auto
      block content
      
    .mt-32.h-32.px-4.py-8.flex.justify-around.shrink-0(class="bg-primary-500/70")
      each word in ['copyright', 'date', 'social buttons', 'contact info']
        span.uppercase.text-lg.tracking-wide(class="text-white-off/30")= word
