extends ../templates/layout.pug

include ../components/header
include ../components/block-1
include ../components/block-2
include ../components/block-3
include ../components/button

block variables
  - var title = 'Community'
  - var metaDescription = 'Check out the Emerald Nodes discord and twitter feed.'

block content
  .px-8.mt-8.w-full.max-w-6xl.mx-auto(class="md:flex md:space-x-8")
    +block-2
      +header Our Community
      .mt-4
        .text-xl.flex.items-center.space-x-4(class="text-white-off/70")
          .uppercase.font-medium Discord
          a(href="https://discord.com/invite/BVNJ9t2WJh" target="_blank" class="text-white-off/80 hover:text-white-off")
            i.fab.fa-discord
        .mt-4 Discord is our hub for community interaction + communication. Our team uses it to make announcements, host giveaways/contests, and answer questions from the community. Our members use it to ask questions, stay up-to-date, fellowship, and more!
      .mt-8
        .text-xl.flex.items-center.space-x-4(class="text-white-off/70")
          .uppercase.font-medium Twitter
          a(href="https://twitter.com/Emerald_Nodes" target="_blank" class="text-white-off/80 hover:text-white-off")
            i.fab.fa-twitter
        .mt-4 Follow the Emerald Nodes Twitter page #[a(href="https://twitter.com/Emerald_Nodes" target="_blank") @Emerald_Nodes] to stay up to date on all the latest Emerald news! Our Twitter hosts giveaways, posts important updates, and is a great way to stay engaged with the community.
