extends ../templates/layout.pug

include ../components/input
include ../components/button
include ../components/block-1
include ../components/header

block variables
  - var title = 'Contact'
  - var metaDescription = 'Get in touch with Emerald Nodes.'

block content
  .px-8.w-full.max-w-3xl.mx-auto.mt-8

    +block-1
      +header Get in touch
      .mt-4 Thanks for your interest in the protocol! If you're looking to get in touch with a representative from Emerald, please fill out the form below and someone will reach out to you shortly.
      form#contact-form.w-full.mt-4.text-black-off
        +input({id: 'name-input', label: 'name', name: 'name', required: true})
        +input({id: 'email-input', label: 'email', name: 'email', type: 'email', required: true}).mt-4
        +input({id: 'subject-input', label: 'subject', name: 'subject', required: true}).mt-4
        +input({id: 'message-input', label: 'message', name: 'message', type: 'textarea', required: true}).mt-4
        .flex.justify-between.mt-4
          .flex.items-center.text-sm.relative.flex-grow
            #email-form-success-message.text-green-500.absolute.w-full.h-full.flex.items-center.hidden Your message was sent!
            #email-form-error-message.text-red-500.absolute.w-full.h-full.flex.items-center.hidden There was an error. Please try again later.
          +button#email-form-submit-btn.px-12.py-2(type='submit') Submit
