extends ../templates/layout.pug

include ../components/countdown-timer
include ../components/inline-svg
include ../components/button
include ../components/header
include ../components/block-1
include ../components/block-2
include ../components/block-3
include ../components/inline-link

mixin get-started-step(stepNumber)
  li.flex.flex-col.space-y-2(class="md:flex-row md:space-y-0 md:space-x-2")
    .font-bold.shrink-0 Step #{stepNumber}:
    div
      if block
        block

block content
  .w-full
    img(src=require('Images/header-animation.gif') data-show-until-nodes-launch)
    img(src=require('Images/header-animation-no-text.gif') data-hide-until-nodes-launch)
  
  .items-center.justify-center.mt-8.hidden(class="md:flex" data-show-until-nodes-launch)
    +countdown-timer
  
  .mt-8.flex.items-center.justify-center.px-8.space-x-12
    +block-1.w-full.max-w-4xl.space-y-4
      .text-3xl.font-bold.uppercase.text-white-off Vision
      div We enable our users to start earning passive income immediately by setting up a node on the Avalanche (AVAX) network with the few clicks of a button. Emerald Nodes intends to serve as a pillar supporting the large majority of the Avalanche (AVAX) network by incentivizing nodes through Nodes as a Service (NaaS). We aim to be the first truly sustainable NaaS protocol on the Avalanche network.

  .mt-8.px-4.py-8.flex.items-center(class="bg-white-off/50 md:space-x-12 md:px-16" data-aos="fade-up")
    .bg-logo-big.bg-cover.bg-no-repeat.flex-grow.bg-bottom.hidden.self-stretch(class="md:block" style="border-radius: 40px;")
    .space-y-4.text-secondary-500.border-b.border-secondary-500.pb-8.grow-0.w-full(class="md:w-5/6")
      .text-3xl.font-bold Get Started
      .flex.items-center
        +inline-svg('chevron').h-48.hidden(class="md:block")

        .space-y-16.w-full
          ul.list-disc.space-y-4.text-xl(class="md:pl-4 md:ml-8")
            +get-started-step(1) Purchase $AVAX.
            +get-started-step(2).
              Move your AVAX to a
              #[+inline-link("https://walletconnect.com/registry?type=wallet") WalletConnect-compatible wallet]
              (including #[+inline-link("https://metamask.io/") MetaMask]).
            +get-started-step(3)
              .flex.flex-col.flex-wrap(class="md:block").
                Buy Emerald tokens ($EM) on #[+inline-link("https://traderjoexyz.com") Trader Joe XYZ].
                #[div(class="mt-2") #[strong $EM Contact Address:] (0x97E7044ab98B7891546485f5f66EDcc2F58be106)]
                #[div(class="mt-2 italic text-base") Note: If you received EMERALD prior to launch (5pm March 9th, 2022) swap your old EMERALD for EMERALD v2 ($EM) on our #[+inline-link("http://swap.emeraldnodes.finance") Swap Site].] 
            +get-started-step(4).
              Connect your wallet + create your nodes on our #[+inline-link("http://app.emeraldnodes.finance") Nodes App]!
            +get-started-step(5).
              Manage your nodes in the “My Nodes” section in the #[+inline-link("http://app.emeraldnodes.finance") Nodes App]!


          .flex.justify-center(data-hide-until-nodes-launch)
            +button.w-full.max-w-2xl.text-2xl.shadow-xl.uppercase.font-black.outline(class="hover:shadow-2xl hover:-translate-y-2 transition-all")
              a.py-8.block.w-full.h-full(href="/get-started.html") Get Started

  .mt-8.flex.flex-col.px-8

    +block-1.w-full.max-w-4xl.mx-auto(data-aos="fade-up")
      +header.text-white-off.italic What is Emerald?
      .mt-4.text-lg.
        The service Emerald Nodes offers its users is the ability to set up, manage, and own real reward yielding “nodes”. A “node” is a computer that serves as a backbone in the infrastructure of its native cryptocurrency network. Anyone can buy an Emerald Node or $EM, our native token; it works just like any other tradable cryptocurrency, and is used to set up nodes on the protocol’s web app. Emerald Nodes exist on the Avalanche (AVAX) network. We incentivize our users to create these nodes and support the AVAX network by regularly yielding rewards. Emerald handles 100% of the AVAX validator setup and backend to ensure a quick and seamless experience for users. It takes only a few clicks to set up a node. Each node begins accruing rewards instantly, and nodes take only seconds to set up!
  
    .flex.flex-col.space-y-8.mt-8(class="md:flex-row md:space-x-8 md:space-y-0")
      +block-2.grow(class="md:w-1/2" data-aos="fade-right")
        +header.italic Avalanche Network
        .mt-4
          div Emerald Nodes currently operates on the #[+inline-link("https://welcome.avax.network/") Avalanche (AVAX) network]. 
          ul.list-disc.space-y-4.mt-4
            li AVAX is a blockchain-based, open, programmable smart contracts platform for decentralized applications. 
            li Similar to networks like Ethereum and Solana, the capabilities of AVAX span much larger than simple peer-to-peer transactions. 
            li AVAX however, touts revolutionary blockchain technology. 
            li Transactions are significantly faster and more secure than any other major network.
              ul.list-decimal.list-inside.space-y-4.pl-4.mt-4
                li Transactions are finalized within seconds.
                li AVAX has 99.9% lower fees than ETH (the largest similar network). 
                li Seldom is a gas fee for a single transaction higher than $0.20 USD, and almost never is a gas fee above $0.25. 
                li AVAX is also much more environmentally friendly as a protocol. The network uses on the order of 10,000x less energy per year than Bitcoin or Ethereum. (0.0005% of the energy BTC uses, and 0.0028% of the energy ETH uses.)

      +block-3.grow(data-aos="fade-left" class="md:w-1/2")
        +header.flex.justify-between.items-center.italic Built for the Future
          +inline-svg('chevron-triple').h-12.my-2
        .mt-4
          div The Emerald Nodes protocol is built to last.
          ul.list-disc.space-y-4.mt-4
            li All node tier numbers have been meticulously calculated with the aim of never needing to alter rewards, an issue that many large projects have struggled with. 
            li Emerald Nodes also introduces what is called a “treasury buy-back system”. This means that every node will be backed by the value of Emerald’s treasury, and users will have the ability to burn their node(s) by selling it back to the treasury to reclaim a percentage of their initial investment.
            li The protocol also currently aims to implement NFTs and a bonding system to boost the runway and longevity of the project. All three of these features (Treasury, bonding, NFTs) will be rolled out over the course of the next 2-3 months post-launch (March 29th-June 29th). 
            li In addition to these three features, the team will be incorporating rewards for:
              ul.list-decimal.list-inside.space-y-4.pl-4.mt-4
                li Adding liquidity
                li Partial nodes
                li Auto compounding nodes 
                li Auto claiming rewards
                li Transferrable nodes
 
  .mt-8.px-8
    a.block.bg-secondary-500.p-8.text-3xl.uppercase.rounded.border.tracking-widest.font-light.flex.items-center.space-x-4.w-full.max-w-6xl.mx-auto.transition.transition-colors(class="text-white-off/70 hover:text-white-off border-white-off/30 hover:border-white-off/50" data-aos="fade-up" href="https://medium.com/@emeraldnodes/emerald-nodes-f1d0b8b1e82e" target="_blank") 
      +inline-svg('chevron-triple').h-8
      .uppercase Whitepaper
