extends ../templates/layout.pug

include ../components/countdown-timer
include ../components/inline-svg
include ../components/button
include ../components/header

block content
  .bg-logo-big.w-full.bg-cover.flex.items-center.justify-center(style="height: 32rem; background-position: center 40%;")
    .hidden(class="md:block")
      +countdown-timer
  
  .mt-8.flex.items-center.justify-center.px-8.space-x-12
    .bg-secondary-500.p-12.rounded.border.space-y-4.w-full.max-w-4xl(class="border-white-off/50" data-aos="fade-right")
      .text-3xl.font-bold.uppercase.text-white-off Vision
      ul.list-disc.pl-4.space-y-4(class="text-white-off/50")
        li We enable our users to start earning regular awards immediately by setting up a node on the Avalanche (AVAX) network with the few clicks of a button.
        li Emerald Nodes aims to serve as a core pillar of the groundbreaking AVAX network by incentivising the creation of nodes...

  .mt-8.px-16.py-8.flex.items-center(class="bg-white-off/50 md:space-x-12" data-aos="fade-up")
    .bg-logo-big.bg-cover.bg-no-repeat.flex-grow.bg-bottom.hidden.self-stretch(class="md:block" style="border-radius: 40px;")
    .space-y-4.text-secondary-500.border-b.border-secondary-500.pb-8.grow-0.w-full(class="md:w-5/6")
      .text-3xl.font-bold.italic Get Started
      .flex.items-center
        +inline-svg('chevron').h-48.hidden(class="md:block")

        .space-y-16
          ul.list-disc.pl-4.space-y-4.text-xl.ml-8
            li We enable our users to start earning regular awards immediately by setting up a node on the Avalanche (AVAX) network with the few clicks of a button.
            li Emerald Nodes aims to serve as a core pillar of the groundbreaking AVAX network by incentivising the creation of nodes...

          .flex.justify-center
            +button.w-full.max-w-2xl.py-8.text-2xl.shadow-xl.uppercase.font-black Get Started

  .mt-8.flex.flex-col.px-8(class="md:flex-row md:items-stretch md:space-x-8")

    .p-8.pb-16.bg-secondary-500.rounded.border(class="md:w-1/2 border-white-off/70" data-aos="fade-left")
      +header.text-white-off.italic What is Emerald?
      .mt-4.text-primary-300.text-lg
        div Invest in a node → yield rewards immediately
        div Spend as much or as little as you want
        div $20 @launch
        div The most modern blockchain technology
        .ml-32 + decentralized network
        div Avalanche
        div Secure
        div Fast
        div Full capability at lower cost than others like ETH
        div Rapidly expanding
        div Sustainable // longevity
        div Measure to not cut rewards
        div AVAX expanding
        div Accessible
        div We handle all the hand parts
  
    .flex.flex-col.space-y-8.mt-8(class="md:w-1/2 md:mt-0")
      .p-8.rounded.border.text-white-off.grow(class="border-white-off/50 bg-primary-500/70" data-aos="fade-right")
        +header.italic Why is it different
        .mt-4.text-xl
          div Process Blurb:
          div Buy avax
          div Buy emerald
          div Buy node
          div Border
  
      .text-secondary-500.p-8.rounded.border.border-primary-500.space-y-4.grow(class="bg-white-off/50" data-aos="fade-left")
        +header.flex.justify-between.items-center What is Emerald?
          +inline-svg('chevron-triple').h-12.my-2
        .pl-2.flex.items-start.space-x-4
          div
            div Process Blurb:
            div Buy avax
            div Buy emerald
 
  .mt-8.px-8
    .bg-secondary-500.p-8.text-3xl.uppercase.rounded.border.tracking-widest.font-light.flex.items-center.space-x-4.w-full.max-w-6xl.mx-auto(class="text-white-off/70 border-white-off/30" data-aos="fade-up") 
      +inline-svg('chevron-triple').h-8
      .uppercase Whitepaper
