extends ../templates/layout.pug

include ../components/header
include ../components/block-1

block variables
  - var title = 'Privacy Policy'

block content
  .px-8.mt-8.w-full.max-w-6xl.mx-auto
    +block-1
      +header Privacy Policy
      .privacy-policy.mt-8
        p.c5.c7
          span.c0 Emerald Nodes LLC
          span
            | , a Colorado limited liability company (the
            | &ldquo;
          span.c6 Company
          span
            | &rdquo;), is committed to maintaining the privacy of its
            | subscribers and users of its websites, content, applications and services (collectively referred to as the
            | &ldquo;
          span.c6 Services
          span
            | &rdquo;). The Company&rsquo;s Privacy Policy (the
            | &ldquo;
          span.c6 Privacy Policy
          span
            | &rdquo;) describes how it collects and processes your
            | Personal Data through its websites, including emeraldnodes.finance (the &ldquo;
          span.c6 Websites
          span
            | &rdquo;). The Company encourages you to read this Privacy Policy, as well as the
            | Company&rsquo;s Terms and Conditions of Services (the &ldquo;
          span.c6 Terms
          span.c1 &rdquo;).
        p.c2
          span.c1
        p.c5
          span.c4.c0
            | BY USING THE SERVICES, YOU CONSENT TO THE COLLECTION, USE AND TRANSFER OF YOUR
            | PERSONAL DATA FOR PROCESSING WITHIN THE UNITED STATES AS DESCRIBED IN THIS PRIVACY POLICY.
        p.c2
          span.c1
        p.c5
          span.c4.c0
            | I.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Residents of the European
            | Union
        p.c2
          span.c1
        p.c5.c7
          span
            | In order to comply with the requirements of the European General Data Protection Regulation
            | (&ldquo;
          span.c6 GDPR
          span.c1
            | &rdquo;) for the European consumers and users of the
            | Services, this Privacy Policy outlines the legal basis upon which the Company will collect and process your
            | Personal Data and will provide other information as required by the GDPR. Further guidance concerning your rights
            | under the GDPR are available in Section&nbsp;IX, below.
        p.c2
          span.c4.c0
        p.c5
          span.c4.c0
            | II.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Personal Data Collected by the
            | Company
        p.c2
          span.c4.c0
        p.c5.c7
          span
            | The Company collects Personal Data you voluntarily provide in order to ensure you receive the
            | best experience with the Services. The term &ldquo;
          span.c6 Personal Data
          span.c1
            | &rdquo; means any data that can be used to directly or indirectly identify you, that may include
            | without limitation your name, address, phone number, location, and email address. Personal Data is collected when
            | you register on the Company&rsquo;s website, place an order, subscribe to the Company&rsquo;s newsletter, or fill
            | out a form on the Company&rsquo;s website.
        p.c2
          span.c1
        p.c5.c7
          span
            | The Company may also collect Personal Data automatically, such as Functional Data (as defined
            | below) or other information collected by using &ldquo;cookies&rdquo; (as further described below) and similar
            | technologies when you use, access or interact with the Company through its website. The term &ldquo;
          span.c6 Functional Data
          span.c1
            | &rdquo; means information that is necessary for the Services to
            | provide the desired functionality and to ensure the Services are operating properly. Functional Data may include
            | your email address, location, language preference, product serial number, IP&nbsp;address, and Company account
            | login information.
        p.c2
          span.c1
        p.c5.c7
          span.c1
            | The Websites use &ldquo;cookies&rdquo; and similar technologies for a variety of
            | purposes, including without limitation, to analyze trends, administer the Websites, track the movements of
            | visitors around the Websites, to gather demographic information about the visitors and users of the Websites as a
            | group and to collect information about visitors&rsquo; and users&rsquo; browsing histories in order to help tailor
            | advertising to the interests of such visitors and users. Cookies are small data files that a website or its
            | service provider transfer to your computer&rsquo;s hard drive through your Web browser (if you so allow) that
            | enable the website or service providers&rsquo; systems to recognize your browser and capture and remember certain
            | information.
        p.c2.c7
          span.c1
        p.c5.c7
          span.c1
            | Like other Functional Data, the Company uses cookies to remember and save your
            | session on the Websites and to process other activities that are strictly necessary in connection with the
            | operation of the Websites, such as in relation to the distribution of visits on the Websites. The Company also
            | uses cookies to save your browsing preferences for future visits and to optimize your browsing experience on the
            | Websites. In addition, the Company also uses cookies to process information related to your use of the Services
            | and to compile aggregate data about website traffic and interaction to allow the Company to provide better website
            | experiences and tools to its customers. The Company may also contract with third-party service providers to assist
            | it in gaining better understanding of visitors to the Websites. However, the Company does not permit the use of
            | information collected by third parties on behalf of the Company to be used for any reason except to assist the
            | Company in the operation and improvement of the Websites and its businesses.
        p.c2
          span.c1
        p.c5.c7
          span.c1
            | The Company maintains a current list of the third party service providers associated
            | with the Websites here: &lt;&lt;INSERT LINK&gt;&gt;. Please refer to the privacy policies of such service
            | providers for additional information regarding how such service providers use cookies.
        p.c2.c7
          span.c1
        p.c5.c7
          span.c1
            | The Websites use both session ID cookies as well as persistent cookies. A session ID
            | cookie expires when you close your browser. A persistent cookie remains on the hard drive of your computer device
            | for a set period of time or until you delete it.
        p.c2.c7
          span.c1
        p.c5.c7
          span.c1
            | When you first visit the Websites, you will be asked to consent to the use of
            | cookies and similar technologies on the Websites in accordance with the terms set forth in this Policy and if you
            | consent, we will store cookies and similar technologies on your computer device. Some of the services used in the
            | operation of the Websites may collect statistics in an anonymized and aggregated manner and may not require your
            | consent.
        p.c2.c7
          span.c1
        p.c5.c7
          span.c1
            | The Company does not target or intend to collect any Personal Data from children
            | under the age of 16. Please contact the Company if you become aware of the collection of Personal Data without
            | parental consent of a child under the age of 16.
        p.c2
          span.c1
        p.c5
          span.c4.c0
            | III.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Why the Company Collects
            | Personal Data
        p.c2
          span.c4.c0
        p.c5.c7
          span.c1
            | The Company collects your Personal Data to operate and improve the Services. The
            | Company may also use your Personal Data in the following ways:
        p.c2
          span.c1
        ul.c11.lst-kix_list_2-0.start
          li.c3.li-bullet-0
            span.c1 To 
            span.c4.c0 personalize your experience
            span.c1
              | as your information helps the Company to better respond to your individual needs;
          li.c3.li-bullet-0
            span.c1 To 
            span.c4.c0 create and manage your account
            span.c1 ; 
          li.c3.li-bullet-0
            span.c1 To 
            span.c4.c0
              | verify and authenticate your
              | identity
            span.c1
              | and protect against unauthorized use of the Services from your
              | account;
          li.c3.li-bullet-0
            span.c1 To allow the Company to more effectively respond to your 
            span.c4.c0 customer service requests
            span.c1
              | and support needs including, responding to
              | inquiries, diagnosing problems with the Services, and other customer care and support;
          li.c3.li-bullet-0
            span.c1 To 
            span.c4.c0
              | process your transactions involving the
              | Services
            span.c1
              | , including processing subscriptions, complete subscriptions, invoicing for
              | subscriptions and the like.
          li.c3.li-bullet-0
            span.c1 To 
            span.c4.c0 communicate
            span.c1
              | with you by sending periodic emails, which may include news, updates and related product or
              | service information. You may opt out of these emails, or elect to receive only certain communications, by
              | following the instructions provided in the body of the email;
          li.c3.li-bullet-0
            span.c1 To 
            span.c4.c0
              | improve the products and
              | services
            span.c1
              | offered by the Company to include maintaining and improving the
              | performance of the Services, developing new features and capabilities, producing error reports to improve
              | functioning, using search queries and clicks to improve the relevance of your search results and using data to
              | determine what new features to prioritize;
          li.c3.li-bullet-0
            span.c1 For 
            span.c0.c4
              | security, safety and dispute
              | resolution
            span.c1
              | by detecting and preventing identity theft, fraud and other unlawful
              | activities, resolving disputes and enforcing the Company&rsquo;s agreements;
          li.c3.li-bullet-0
            span.c1 To 
            span.c4.c0
              | improve or facilitate business operations
            span.c1
              | by developing aggregate analysis and business intelligence that enables the Company to
              | operate, protect and make informed decisions; and
          li.c3.li-bullet-0
            span.c1 For 
            span.c4.c0 marketing and/or advertising
            span.c1
              | . The Company may collect Personal Data to personalize communications with you and provide the most
              | relevant advertising.
        p.c2
          span.c1
        p.c5.c7
          span.c1
            | The Company will not sell, exchange or transfer your Personal Data to any other
            | company or third-party for any reason without your consent unless for the express purpose of delivering the
            | Services requested. The Company does use third-parties to carry out certain Services such as website management,
            | hosting and online purchases and credit card processing. The Company only shares your Personal Data as necessary,
            | such as to complete a transaction or provide a Service you have otherwise requested or authorized, and only with
            | third-parties or agents providing services on behalf of the Company for the purposes describe in this Privacy
            | Policy. In such cases, your Personal Data will be shared only for the limited purpose of performing the service on
            | behalf and under the instruction of the Company and in accordance with this Privacy Policy.
        p.c2
          span.c1
        p.c5
          span.c4.c0
            | IV.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transfer of Personal Data to
            | Other Countries
        p.c2
          span.c1
        p.c5.c7
          span.c1
            | The Personal Data, and all associated Services and systems, to include registration,
            | is housed on servers located all over the world. The data protection and privacy laws in the United States and in
            | the countries where the servers are located may offer a lower level of protections than in your country and/or
            | region.
        p.c2
          span.c1
        p.c5.c7
          span.c1
            | By using the Services and providing your Personal Data, you agree to the transfer,
            | storage, and/or processing of your Personal Data within the United States. Where and as required, the Company will
            | seek your explicit consent as outlined within this Privacy Policy.
        p.c2
          span.c1
        p.c5
          span.c4.c0
            | V.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Legal Basis for Processing Your
            | Personal Data
        p.c2
          span.c1
        p.c5.c7
          span
            | For the purpose of applicable data protection laws, the Company is the controller of the
            | Personal Data you provide (the &ldquo;
          span.c6 Data Controller
          span.c1
            | &rdquo;). As
            | Data Controller, the Company will process all Personal Data in accordance with this Privacy Policy.
        p.c2
          span.c1
        p.c5.c7
          span.c1
            | The legal bases for processing your Personal Data include performance of a contract
            | and other legitimate business interests. The use of your Personal Data may be necessary to perform upon a contract
            | between you and the Company, for example, to: (a) complete your purchase of the Services; (b) register and
            | maintain your account; (c) allow for and/or assist in the delivery of Services; (d) handle customer support
            | requests; and (e) ensure the Services function as intended. The Company may also use your Personal Data for its
            | legitimate business interests such as analyzing and improving products and Services as well as the Content on the
            | Websites, and to send notifications and updates on the Services and other products, subscriptions, seminars,
            | events and the like.
        p.c2
          span.c1
        p.c5
          span.c4.c0 VI.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Informed Consent
        p.c2
          span.c1
        p.c5.c7
          span.c1
            | In some instances, the Company will seek your consent prior to processing your
            | Personal Data. Your consent may be indicated by checking a box on the Company website to confirm: (a) your consent
            | to providing the Company with your Personal Data; (b) registering or creating an account with the Company; and (c)
            | the processing of your Personal Data as describe in this Privacy Policy. The Company may also seek your consent to
            | share your Personal Data with a third-party service in order to offer certain goods, services or other
            | programs.
        p.c2
          span.c1
        p.c5.c7
          span.c1
            | In some cases, separate consent from you is not required to use your Personal Data.
            | For instance, the Company does not need to need separate consent from you for the performance of a contract, to
            | meet legal obligations or for legitimate interests in operation of its business including without limitation,
            | communication regarding the Services, promotional messaging, personalized marketing, surveys, compliance with laws
            | concerning public safety, improvement and development of the Company&rsquo;s Services, enforcement of the terms
            | and conditions of this Privacy Policy, or in support of a contemplated merger, acquisition or other business
            | reorganization. &nbsp;In the event separate consent is required, the Company shall notify you by email, which will
            | include a description of the basis for the request and instructions on providing the requested consent.
        p.c2
          span.c4.c0
        p.c5
          span.c4.c0
            | VII.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Limitations on Use by the
            | Company
        p.c2
          span.c4.c0
        p.c5.c7
          span.c1
            | Any Personal Data collected will be used and processed only as necessary to
            | accomplish the stated purpose for collecting such information. Access to your Personal Data will also be limited
            | to those needing access in order to accomplish the purposes stated herein.
        p.c2
          span.c1
        p.c5
          span.c4.c0
            | VIII.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Security, Storage and Retention
            | of Personal Data
        p.c2
          span.c4.c0
        p.c5.c7
          span (a) 
          span.c0 Security
          span.c1
            | . The Company implements
            | appropriate technical and organizational safeguards to protect against unauthorized or unlawful processing of
            | Personal Data and accidental or unlawful destruction, loss, alteration, unauthorized disclosure, or access to
            | Personal Data. The Company cannot eliminate all risk associated with the storage and transmission of Personal
            | Data.
        p.c2
          span.c1
        p.c5.c7
          span (b) 
          span.c0 Storage and Retention
          span.c1
            | . The Company will
            | retain your Personal Data for as long as you maintain an account with the Company, or as otherwise necessary to
            | provide you the Services. The Company will also retain your Personal Data as necessary to comply with its legal
            | obligations, resolve disputes, and enforce its agreements. When the Company no longer needs to process your
            | Personal Data for the purposes set out in this Privacy Policy, it will delete your Personal Data from its systems.
            | Where permissible, the Company will also delete your Personal Data upon request. For further information on making
            | such a request, see Section X below.
        p.c2
          span.c1
        p.c5
          span.c4.c0
            | IX.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rights Regarding Personal Data
            | for Residents of the European Economic Area
        p.c2
          span.c1
        p.c5.c7
          span.c1
            | If you are a resident of the European Economic Area, you have a number of rights
            | concerning the collection, use and storage of your Personal Data pursuant to the GDPR. These rights
            | include:
        p.c2
          span.c1
        ul.c11.lst-kix_list_1-0.start
          li.c5.c8.li-bullet-0
            span.c4.c0 The right of access to your Personal Data
            span.c1
              | .
              | You have the right to obtain confirmation from the Company whether your Personal Data is being processed, where
              | and for what purpose.
          li.c5.c8.li-bullet-0
            span.c4.c0 The right to correction
            span.c1
              | of your
              | Personal Data, as permitted by law.
          li.c5.c8.li-bullet-0
            span.c4.c0 The right to data portability
            span.c1
              | . You have
              | the right to request and receive, free of charge, a copy of any Personal Data collected by the Company. This
              | information must be provided to you in a structured, commonly used and machine-readable format.
          li.c5.c8.li-bullet-0
            span.c4.c0 The right to withdraw consent
            span.c1
              | to the
              | collection, use, processing, and/or storage of your Personal Data.
          li.c5.c8.li-bullet-0
            span.c4.c0 The right to erasure
            span.c1
              | , which means the
              | right to request the Company to erase your Personal Data, cease any further dissemination of your Personal Data,
              | and to have the Company request that any third-party that has received a copy of your Personal Data pursuant to
              | an authorized purpose also ceases to use and/or further disseminate your Personal Data. The Company shall erase
              | your Personal Data upon receipt of such request if certain conditions are met, including if the Personal Data is
              | no longer relevant to the original purpose for processing.
          li.c5.c8.li-bullet-0
            span.c4.c0
              | The right to request that the Company transmit your Personal
              | Data
            span.c1
              | to another controller. This may include having it transmitted directly if
              | technically feasible.
          li.c5.c8.li-bullet-0
            span.c4.c0 The right to restriction of processing
            span.c1
              | .
              | You have the right to request that Company limit the processing of your Personal Data, including when: (1) the
              | accuracy of your Personal Data is contested; (2) the processing is unlawful and you oppose the erasure of your
              | Personal Data and request instead the restriction of the use of the Personal Data; or (3) you have objected to
              | the processing pursuant to Article 21(1) of the GDPR; and
          li.c5.c8.li-bullet-0
            span.c4.c0 The right to object
            span.c1
              | to the
              | Company&rsquo;s processing of your Personal Data. This right is limited to processing based upon Article 6(1)(e)
              | or (f) of the GDPR which includes profiling based upon those provisions, and processing for direct marketing
              | purposes. The Company will no longer process your Personal Data unless it can demonstrate compelling legitimate
              | grounds for such processing that override your interests, rights and freedoms or for the establishment, exercise
              | or defense of legal claims.
        p.c2
          span.c1
        p.c5.c7
          span (a)
          span.c0 &nbsp;Disclosure
          span.c1
            | . The GDPR and other
            | national laws of the European Union member states permit the sharing of Personal Data relating to users who are
            | residents of the European Economic Areas with third-parties only under certain circumstances. The Company will
            | only share your Personal Data as described within this Privacy Policy if it is permitted to do so under applicable
            | European and national data protection laws and regulations.
        p.c2
          span.c1
        p.c5.c7
          span (b) 
          span.c0 Marketing
          span.c1
            | . Where legally required, the
            | Company will ask you for your prior consent prior to providing you with promotional or marketing materials or
            | information. You have the right to revoke this consent at any time, which will not affect the processing of your
            | Personal Data undertaken until such revocation.
        p.c2
          span.c1
        p.c5.c7
          span (c) 
          span.c0 Additional Use of Personal Data
          span.c1
            | . Additional
            | use of your Personal Data outside the purposes and uses described herein will only occur as required by statute or
            | upon the receipt of your consent.
        p.c2
          span.c1
        p.c5.c7
          span (d)
          span.c0
            | Legal Basis for Processing Personal Data under the
            | GDPR
          span.c1
            | . The following provides information on the legal bases for this the Company may
            | process your Personal Data, as required by Article 13 and 14 of the GDPR:
        p.c2
          span.c1
        ul.c11.lst-kix_list_3-0.start
          li.c3.li-bullet-0
            span.c1
              | When you register for an account, such processing is necessary for the
              | performance of Services.
          li.c3.li-bullet-0
            span.c1
              | When you communicate with the Company or sign up for promotional
              | material, the Company will process such data on the basis of its legitimate interest and the Company&rsquo;s
              | legitimate interest in providing promotional messages. When required by local law to obtain additional consent
              | for sending marketing information, the Company&rsquo;s legal basis shall be that consent.
          li.c3.li-bullet-0
            span.c1
              | When the Company collects cookies, device IDs, and other data connected
              | to your use of the Services, the Company processes such data based upon the consent you provide and the
              | legitimate business interest of the Company. This processing is also based upon the Company&rsquo;s legitimate
              | interest to provide you with better Services and marketing.
          li.c3.li-bullet-0
            span.c1
              | The Company may aggregate or centralize data. Such actions are necessary
              | for the performance of Services or based on the legitimate business interests of the Company.
          li.c3.li-bullet-0
            span.c1
              | Where your Personal Data is disclosed to affiliates and third parties,
              | Company shall process your data based either upon your prior consent, or where such processing is necessary for
              | the performance of Services or based upon other legitimate business interests such as providing better
              | Services.
          li.c3.li-bullet-0
            span.c1
              | Where your Personal Data is collected in the event or in preparation of
              | an actual or contemplated sale, the Company processes such data for its legitimate interest in offering,
              | maintaining, providing and improving its Services.
          li.c3.li-bullet-0
            span.c1
              | When the Company conducts analytics, it processes your Personal Data on
              | the basis of its legitimate interests in enhancing your experience and to develop and improve its
              | Services.
          li.c3.li-bullet-0
            span.c1
              | When the Company investigates suspected illegal or wrongful activity, it
              | processes such data on the basis of its legitimate interest to ensure compliance with legal requirements and law
              | enforcement requests as well as for public safety purposes.
        p.c2
          span.c1
        p.c5.c7
          span (e) 
          span.c0 Dispute Resolution
          span.c1
            | . You have the right to
            | file a complaint before the Data Protection Authority, a competent data protection supervisory authority within
            | the EU member state in which you reside. In addition, if you are a California resident, you have may have
            | additional rights to obtain information about the use of your Personal Data.
        p.c2
          span.c1
        p.c5
          span.c4.c0 X.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact Information
        p.c2
          span.c1
        p.c5
          span.c1
            | To exercise your rights to your Personal Data, or if you have questions or concerns
            | regarding this Privacy Policy, please contact the Company through the customer support information provided at
            | #[a(href="emeraldnodes.finance/contact.html") emeraldnodes.finance/contact.html] or at the address listed below:
        p.c2
          span.c1
        p.c5.c7
          span.c1 contact@emeraldnodes.finance
        p.c2
          span.c1
        div
          p.c5
            span.c13 {W1635394 MBC}
