extends ../templates/layout.pug

include ../components/header
include ../components/block-1

block variables
  - var title = 'Terms of Service'

block content
  .px-8.mt-8.w-full.max-w-6xl.mx-auto
    +block-1
      +header Terms of Service
      .terms-of-service.mt-8
        p.c0
          span.c5 Emerald Nodes LLC
          span.c3
            | , a Colorado limited liability company (the
            | &ldquo;
          span.c4 Company
          span.c3
            | &rdquo;), is committed to maintaining the privacy of
            | the visitors, subscribers and users of the Website (as defined below) and the Emerald Nodes development
            | application (the &ldquo;
          span.c4 Application
          span.c3
            | &rdquo;) developed, owned,
            | hosted and operated by the Company. These Terms and Conditions of Use (the &ldquo;
          span.c4 Terms
          span.c3
            | &rdquo;) describe the terms and conditions for access to the
            | Company&rsquo;s websites, including without limitation, &lt;&lt;https://app.emeraldnodes.finance&gt;&gt; (the
            | &ldquo;
          span.c4 Website
          span.c3
            | &rdquo;). By visiting and/or using the Website, you
            | agree to comply with the Company&rsquo;s Privacy Policy &lt;&lt;https://app.emeraldnodes.finance&gt;&gt; (the
            | &ldquo;
          span.c4 Privacy Policy
          span.c3 &rdquo;). 
        p.c0
          span.c3
            | Through the Website, you have access to a variety of resources and content, including
            | without limitation: (a) the Application; and (b) webpages, data, messages, text, images, white papers,
            | publications, research, articles, photographs, graphics, downloads, audio and video clips and other descriptions
            | of the Application (collectively, the &ldquo;
          span.c4 Content
          span.c3
            | &rdquo;). In
            | addition, these Terms describe the terms and conditions for use applicable to the Application and the Content. The
            | Application facilitates the development of Nodes as a Service (&ldquo;
          span.c4 NaaS
          span.c3 &rdquo;) to be incorporated into the Avalanche Network (&ldquo;
          span.c4 AVAX
          span.c3 &rdquo;). 
        p.c0
          span.c3
            | By accessing this Website, You affirm that you are over 18 years of age and are able to
            | understand and comply with these Terms and the Privacy Policy. If you are under the age of 18, you affirm that you
            | have the consent of a parent or guardian who understands these Terms and the Privacy Policy and will ensure that
            | you abide by the same. Children under the age of 13 are expressly prohibited from accessing or using the
            | Website.
        p.c0
          span.c3
            | By clicking to accept these Terms, you agree to comply with these Terms. These Terms
            | may be amended from time to time without prior notice. It is your responsibility to review these Terms
            | periodically.
        p.c0
          span.c5 The Application; Non-Exclusive License
        p.c0.c6
          span.c3
        p.c0
          span.c3
            | The Application is an internet-based hosted platform provided by the Company via this
            | Website. The Company shall use commercially reasonable efforts to provide continuous 24 hours a day, 7 days a week
            | access to the Application and the Content on an &ldquo;as is&rdquo; basis. Notwithstanding the foregoing, access
            | to the Application may be unavailable due to: (i) maintenance and downtime in accordance with the Company&rsquo;s
            | then-current policies and procedures; (ii) the occurrence of Force Majeure Events (as defined below); (iii)
            | interruptions and delays in internet service that are beyond the reasonable control of the Company, including
            | without limitation, the malicious, grossly negligent and/or other actions or failures to act on the part of any
            | third party; and/or (iv) any changes in applicable law or other government regulations.
        p.c0.c6
          span.c3
        p.c0
          span.c3
            | Subject to these Terms, the Company grants to you a limited, non-exclusive,
            | non-transferable and revocable right to access and use the Application solely and exclusively in connection with
            | the development of NaaS for AVAX. You acknowledge and agree that you have no ownership rights of any kind related
            | to the Application. The Company may terminate such license and revoke your use of the Application and any NaaS you
            | developed with the Application with or without prior notice of any kind if you violate any of these Terms.
        p.c0.c6
          span.c3
        p.c0
          span.c3
            | To access and use the Application, you are required to subscribe for an account by
            | clicking this link &lt;&lt;https://app.emeraldnodes.finance&gt;&gt;. You acknowledge that the Company&rsquo;s
            | &ldquo;Emerald Token&rdquo; (the &ldquo;
          span.c4 Token
          span.c3
            | &rdquo;) is the only
            | form of consideration that is acceptable for payment for the license granted herein. The Token is strictly a
            | utility token in every jurisdiction and is not and shall not be considered as: (a) a security or a regulated token
            | or currency of any kind; or (b) e-money and/or fiat or asset-backed &ldquo;stablecoin&rdquo;, whether global or
            | limited in scope. The Tokens are not being structured or sold as securities issued by the Company. Owners of the
            | Tokens are not entitled to any rights in the Company, including any equity, shares, units, royalties to capital,
            | profit, returns or income in the Company or intellectual property owned or licensed by the Company. The Tokens and
            | Application are not a licensed, unlicensed or exempted financial or payment service of any kind and in any
            | jurisdiction.
        p.c0
          span.c3
            | You acknowledge and agree that all information you provide for your subscription for an
            | account shall be accurate and complete. The Company shall activate login credentials for you upon the completion
            | of your subscription. You will be required to create a secure password associated with your assigned login
            | credentials. You shall not share your login credentials with any third parties, regardless of whether such third
            | parties your employees or independent contractors or otherwise affiliated with you or your organization. You shall
            | maintain the confidentiality of your login credentials and update and change your login credentials in accordance
            | with your organization&rsquo;s then-current security policies and procedures.
        p.c0
          span.c3
            | The Company shall have the right, exercised at any time in its sole discretion, to
            | audit your access and use of the Application in order to verify the authenticity of your subscription and to
            | otherwise ensure your compliance with these Terms. In the event the Company determines that you have disclosed
            | your login credentials to a third party or that a third party has accessed and used the Application via your
            | subscription, the Company in its sole discretion shall have the right to immediately disable and temporarily or
            | indefinitely suspend your subscription and login credentials and/or forever terminate your rights of access and
            | use of the Application.
          span.c9 &nbsp;
          span.c3
            | You are responsible for any activity
            | related to the Application that occurs via your subscription and/or login credentials, including any violation of
            | these Terms.
          span.c8 &nbsp;
        p.c0
          span.c3
            | Your use of the Tokens and/or Application shall not be unlawful or otherwise in
            | violation of the Privacy Policy or any applicable law, regulation, rule or other legal requirements, including
            | without limitation, to store, transmit or otherwise facilitate the delivery of infringing, defamatory, disparaging
            | or otherwise unlawful or tortious content.
        p.c0
          span.c3
            | You shall not copy, modify, duplicate, creative derivative works from, reverse
            | engineer, compile, disassemble, reduce to human perceivable form, frame, mirror, republish, download, display,
            | transmit or otherwise distribute the Tokens and/or Application or any portion thereof in any form or media or by
            | any methods or means. You shall not access, store, distribute or transmit any item, device or other thing,
            | including without limitation, any software, code, file or program, that may prevent, impair or otherwise adversely
            | affect: (a) the Tokens and/or the Application or the AVAX; (b) any computer hardware, network or software; and (c)
            | any telecommunications services or hardware. You shall not access or use or make available the Tokens and/or
            | Application for the purpose of attempting to develop competing products or services. You shall promptly deliver to
            | the Company written notice upon your discovery of any suspected instances of unauthorized access or misuse of the
            | Tokens and/or Application. You shall not use the Tokens and/or the Application to store, transmit or otherwise
            | facilitate the delivery of viruses or other malicious code or content.
        p.c1
          span.c3
            | The Application is hosted and operated from the Company&rsquo;s office in the United
            | States and is intended solely for use by persons residing in the United States. The Company makes no
            | representations that the Application is appropriate or available for use in other locations. Those who access or
            | use the Application from other jurisdictions do so at their own volition and risk and are entirely responsible for
            | compliance with all applicable United States and local laws and regulations, including without limitation, to
            | export and import regulations. You may not use the Application if you are a resident of a country sanctioned or
            | embargoed by the United States, or are a foreign person or entity sanctioned, embargoed, blocked or denied by the
            | United States federal government. Unless otherwise explicitly stated, the Tokens, Application and Content are
            | solely directed to individuals, companies, or other entities located in the United States.
        p.c14
          span.c5 Content Ownership
        p.c1
          span.c3
            | Except for any Content or other materials licensed from third parties and used with
            | their permission, the Company owns the copyright, trademark and other rights to the Website, Application and all
            | Content. Any use of the Application and/or Content separate from the Website without the express prior written
            | consent of the Company is forbidden. Comments provided by users or third parties on the Website are not the
            | responsibility of the Company. All rights, title and interest not expressly granted with respect to the Website,
            | the Application and Content provided on or through the Website are reserved. You are required to comply with all
            | additional copyright notices and/or restrictions contained in the print versions of the Content. The Company
            | reserves the right to terminate your permission to use the Application and Content at any time.
        p.c0
          span.c3
            | The Company is not responsible for the terms or policies of other websites or companies
            | that may be linked to or otherwise accessed through the Website or for third-party content provided on or through
            | the Website. You bear all risk associated with the access and use of such websites and third-party content,
            | products and services.
        p.c0
          span.c3
            | You may only copy, reproduce, distribute, publish, enter into a database, display,
            | perform, modify, create derivative works, download, store, display on your computer, view, play, print, transmit,
            | or otherwise use any Content subject to the following: (a) the Content may be used solely for your personal,
            | informational, internal purposes; (b) the Content may not be modified or altered in any way, and (c) the Content
            | may not be redistributed for any reason without the prior written consent of the Company.
        p.c0
          span.c3
            | Some Content that is licensed by the Company from third parties may have additional
            | rules, guidelines, license agreements, user agreements or other terms and conditions that apply to your access and
            | use of such Content. If there is a conflict or inconsistency between these Terms and the rules, guidelines,
            | license agreement, user agreement or other terms and conditions for specific Content, the latter shall have
            | precedence, but shall in no way affect your use or access to any other Content.
        p.c0
          span.c5 Disclaimers
        p.c10
          span.c5
            | CERTAIN INFORMATION SET FORTH ON THE WEBSITE AND IN THE CONTENT (INCLUDING THE
            | COMPANY&rsquo;S WHITE PAPER) REGARDING THE TOKENS, THE APPLICATION AND ALL OTHER MATTERS ARE FORWARD-LOOKING AND
            | RELATE TO THE COMPANY&rsquo;S DEVELOPMENT OF THE APPLICATION, THE TIMING OF SUCH DEVELOPMENT, EVENTS AND COURSES
            | OF ACTION. STATEMENTS WHICH ARE NOT PURELY HISTORICAL ARE FORWARD-LOOKING STATEMENTS. FORWARD-LOOKING STATEMENTS
            | MAY INCLUDE, AMONG OTHER THINGS, STATEMENTS ABOUT OUR EXPECTATIONS REGARDING THE TOKEN AND ITS VALUE AND UTILITY
            | AND THE APPLICATION AND ITS FUNCTIONALITY AND OPERATION ON AVAX AND ANTICIPATED TRENDS AND CHALLENGES RELATED TO
            | THE SAME. SUCH STATEMENTS AND INFORMATION ARE BASED ON NUMEROUS ASSUMPTIONS REGARDING VARIOUS CRYPTOCURRENCY AND
            | &ldquo;DEFI&rdquo; MARKETS. ALTHOUGH THE COMPANY BELIEVES THAT SUCH ASSUMPTIONS UNDERLYING THESE STATEMENTS ARE
            | REASONABLE, THEY MAY PROVE TO BE INCORRECT. GIVEN THESE RISKS, UNCERTAINTIES AND ASSUMPTIONS, YOU SHOULD NOT PLACE
            | UNDUE RELIANCE ON THESE FORWARD-LOOKING STATEMENTS. FORWARD-LOOKING STATEMENTS ARE SUBJECT TO KNOWN AND UNKNOWN
            | RISKS, UNCERTAINTIES AND OTHER IMPORTANT FACTORS THAT MAY CAUSE THE ACTUAL RESULTS TO BE MATERIALLY DIFFERENT FROM
            | THOSE EXPRESSED OR IMPLIED BY SUCH FORWARD-LOOKING STATEMENTS, INCLUDING WITHOUT LIMITATION, THE COMPANY&rsquo;S
            | ABILITY TO MAINTAIN THE TOKENS AND APPLICATION AND ENHANCE ITS FUNCTIONALITY AND UTILITY AS OTHER THIRD PARTIES
            | DEVELOP AND RELEASE COMPETITIVE PRODUCTS; REGULATORY UNCERTAINTIES; MARKET CONDITIONS AND THE DEMAND FOR THE
            | TOKENS AND APPLICATION; THE IMPACT OF TECHNOLOGY CHANGES ON AVAX, THE TOKENS AND/OR THE APPLICATION; THE
            | COMPANY&rsquo;S ABILITY TO SUCCESSFULLY MAINTAIN AND ENFORCE ITS INTELLECTUAL PROPERTY RIGHTS AND DEFEND
            | THIRD-PARTY CLAIMS OF INFRINGEMENT OF THEIR INTELLECTUAL PROPERTY RIGHTS; AND THE IMPACT OF INTELLECTUAL PROPERTY
            | LITIGATION THAT COULD MATERIALLY AND ADVERSELY AFFECT THE COMPANY&rsquo;S FINANCIAL CONDITION. IMPORTANT FACTORS
            | THAT COULD CAUSE ACTUAL RESULTS TO DIFFER MATERIALLY FROM THE COMPANY&rsquo;S EXPECTATIONS INCLUDE, CONSUMER
            | SENTIMENT TOWARDS THE TOKENS AND APPLICATION AND BLOCKCHAIN TECHNOLOGY GENERALLY, LITIGATION, GLOBAL ECONOMIC
            | CLIMATE, LOSS OF KEY EMPLOYEES AND CONSULTANTS, ADDITIONAL FUNDING REQUIREMENTS, CHANGES IN LAWS, TECHNOLOGY
            | FAILURES, COMPETITION AND FAILURE OF COUNTERPARTIES TO PERFORM THEIR CONTRACTUAL OBLIGATIONS. EXCEPT AS REQUIRED
            | BY LAW, THE COMPANY UNDERTAKES NO OBLIGATION TO UPDATE OR REVISE ANY FORWARD-LOOKING STATEMENTS, WHETHER AS A
            | RESULT OF NEW INFORMATION, FUTURE EVENT OR OTHERWISE, AFTER THE DATE ON WHICH THE STATEMENTS ARE MADE OR TO
            | REFLECT THE OCCURRENCE OF UNANTICIPATED EVENTS. NEITHER THE COMPANY NOR ANY OF ITS REPRESENTATIVES MAKE ANY
            | REPRESENTATION OR WARRANTY, EXPRESS OR IMPLIED, AS TO THE ACCURACY, SUFFICIENCY OR COMPLETENESS OF THE CONTENT OR
            | ANY INFORMATION DISCLOSED IN THE APPLICATION. NEITHER THE COMPANY NOR ANY OF ITS REPRESENTATIVES SHALL HAVE ANY
            | LIABILITY WHATSOEVER, UNDER CONTRACT, TORT, TRUST OR OTHERWISE, TO YOU OR ANY PERSON RESULTING FROM THE USE OF
            | THIS WEBSITE OR THE CONTENT OR FOR OMISSIONS THEREFROM.
        p.c0
          span.c5
            | THE CONTENT DOES NOT CONSTITUTE ANY INVESTMENT ADVICE, FINANCIAL ADVICE, TRADING ADVICE
            | OR ANY OTHER RECOMMENDATION BY THE COMPANY REGARDING THE MERITS OF ACQUIRING TOKENS OR SUBSCRIBING TO LICENSE THE
            | APPLICATION NOR SHOULD IT BE RELIED UPON IN ANY MANNER WHATSOEVER. THE TOKENS ARE NOT A SECURITY AND THE PURCHASE,
            | SALE OR OTHER TRADE OR EXCHANGE OF THE SAME IS NOT AN INVESTMENT TRANSACTION. THE CONTENT DOES NOT CONSTITUTE A
            | PROSPECTUS OR FINANCIAL SERVICE OFFERING DOCUMENT AND IS NOT AN OFFER TO SELL OR SOLICITATION OF AN OFFER TO BUY
            | ANY SECURITY, INVESTMENT PRODUCTS, REGULATED PRODUCTS OR FINANCIAL INSTRUMENTS IN ANY JURISDICTION.
        p.c17
          span.c5
            | YOU ACCEPT THAT THERE IS AN INHERENTLY HIGH RISK IN ACCESSING, ACQUIRING OR USING ANY
            | KIND OF BLOCKCHAIN AND/OR CRYPTO SYSTEM, TOKEN, PLATFORM, SOFTWARE, INTERFACE INCLUDING THE TOKENS AND
            | APPLICATION. YOU ACKNOWLEDGE AND AGREE THAT THE ACQUISITION OF THE TOKENS, SUBSCRIPTION FOR THE APPLICATION,
            | AND/OR THE DEVELOPMENT OF NAAS ON THE AVAX DOES NOT GUARANTEE ANY PAYOUT OR RETURN ON INVESTMENT OR ANY FUTURE
            | VALUE OR BENEFIT.
        p.c6.c17
          span.c5
        p.c0
          span.c5
            | THE WEBSITE, CONTENT AND ALL OTHER INFORMATION SET FORTH THEREIN ARE PROVIDED &ldquo;AS
            | IS&rdquo; WITHOUT ANY WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, REGARDING THE SAME OR ANY OTHER MATTER,
            | INCLUDING BUT NOT LIMITED TO MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. THE COMPANY CANNOT AND DOES NOT
            | GUARANTEE THAT THE WEBSITE OR THE TOKENS, APPLICATION AND/OR CONTENT AVAILABLE THROUGH THE WEBSITE WILL MEET YOUR
            | REQUIREMENTS OR BE FREE FROM ERRORS AND VIRUSES, OR THAT THE OPERATION OF THE TOKENS, APPLICATION AND/OR CONTENT
            | WILL BE UNINTERRUPTED. &nbsp;USE OF THE WEBSITE IS COMPLETELY VOLUNTARY. WHILE THE COMPANY STRIVES TO PROTECT THE
            | INFORMATION PROVIDED, DUE TO THE NATURE OF THE INTERNET, IT CANNOT AND DOES NOT GUARANTEE THAT ANY INFORMATION YOU
            | TRANSMIT TO US WILL BE SECURE, AND ENCOURAGES YOU TO REVIEW THE PRIVACY POLICY, WHICH IS INCORPORATED HEREIN BY
            | REFERENCE.
        p.c0
          span.c5
            | THE COMPANY MAKES NO OTHER REPRESENTATIONS OR WARRANTIES OF ANY KIND, WHETHER EXPRESS
            | OR IMPLIED, REGARDING THE TOKENS, THE APPLICATION OR ANY OTHER MATTER, INCLUDING WITHOUT LIMITATION, THE
            | MERCHANTABILITY, SUITABILITY, ORIGINALITY, FITNESS FOR A PARTICULAR USE OR PURPOSE, OR RESULTS TO BE DERIVED FROM
            | THE SAME, AND THE COMPANY SPECIFICALLY DISCLAIMS THE SAME.
        p.c12
          span.c5
            | IN NO EVENT SHALL THE COMPANY SHALL BE LIABLE (JOINTLY OR SEVERALLY) TO YOU FOR ANY
            | DIRECT, PUNITIVE, SPECIAL, CONSEQUENTIAL, INCIDENTAL, OR INDIRECT DAMAGES OF ANY KIND OR NATURE WHETHER SUCH
            | LIABILITY IS ASSERTED ON THE BASIS OF CONTRACT, TORT OR OTHERWISE, INCLUDING WITHOUT LIMITATION, LOST PROFITS, OR
            | LOSS OR DAMAGE TO DATA ARISING OUT OF THE: (A) USE OR INABILITY TO USE THE WEBSITE, TOKENS, APPLICATION AND/OR
            | CONTENT; OR (B) THE FAILURE OF ANY NAAS ON THE AVAX TO OPERATE AS INTENDED, EVEN IF THE COMPANY HAS BEEN ADVISED
            | OF THE POSSIBILITY OF SUCH DAMAGES.
        p.c0
          span.c5 Your Indemnity
        p.c0.c6
          span.c3
        p.c0
          span.c3
            | You shall defend, protect, indemnify and hold harmless the Company, each affiliate or
            | subsidiary of the Company, and each of their respective members, officers, managers, employees, attorneys and
            | agents (each an &ldquo;
          span.c4 Indemnified Party
          span.c3
            | &rdquo;) from and against
            | any and all liabilities, obligations, losses, damages, penalties, actions, judgments, suits, claims, costs,
            | expenses and disbursements of any kind or nature (including without limitation, the expenses of each Indemnified
            | Party in connection with any investigative, administrative or judicial proceeding, whether or not the Indemnified
            | Party shall be designated a party thereto), which may be imposed on, incurred by, or asserted against, any
            | Indemnified Party (whether direct, indirect or consequential and whether based on any federal, state or local laws
            | or regulations including, without limitation, securities, financial, intellectual property and commercial laws and
            | regulations, under common law or in equity, or based on contract or otherwise) in any manner relating to or
            | arising out of your use of the Application; provided, however, that you shall not have any obligation hereunder to
            | any Indemnified Party with respect to matters caused by or resulting from the willful misconduct or gross
            | negligence of such Indemnified Party. To the extent that the undertaking to indemnify set forth in this Section 9
            | may be unenforceable because it violates any applicable law or public policy, you shall satisfy such undertaking
            | to the maximum extent permitted by applicable law. You shall pay any liability, obligation, loss, damage, penalty,
            | cost or expense covered by this indemnity on demand, and, failing prompt payment, shall, together with interest
            | thereon from the date incurred by each Indemnified Party until paid in full. You shall have the right to assume
            | the good faith defense, compromise or settlement of any third party indemnifiable (without prejudice to the right
            | of the Indemnified Party to participate in such defense) at your own expense through attorneys reasonably
            | acceptable to the Indemnified Party, but you may not, without the prior written consent of the Indemnified Party,
            | agree or consent to: (i) any injunctive relief or restrictions that would affect the Indemnified Party; or (ii)
            | any settlement of such third party claim that would have a material adverse effect on the Indemnified Party. If
            | you do not elect to defend such third party claim within 10 days after receiving written notice of the same, the
            | Indemnified Party may in its sole discretion defend against such third party claim at your expense. The
            | Indemnified Party may thereafter elect to settle such third party claim or otherwise enter into a settlement or
            | compromise of the same without your consent and you shall have no right to contest or otherwise object to the
            | same.
        p.c0.c6
          span.c3
        p.c12
          span.c5 Entire Agreement
        p.c0
          span.c3
            | These Terms and the Privacy Policy constitute the entire agreement between you and the
            | Company concerning the matters covered herein and supersedes all prior agreements and/or understandings, whether
            | written or oral, concerning your use of the Website, Tokens, Application and/or Content, and there are no
            | understandings, agreements, representations or warranties, express or implied, which are not specified in writing
            | within these Terms and the Privacy Policy. In the event that any of the provisions of these Terms are or become
            | illegal or unenforceable, such provision shall be null and void and shall be deemed deleted from these Terms, and
            | all the remaining provisions of these Terms shall remain in full force and effect. The invalid or unenforceable
            | provision will be replaced by a valid, enforceable provision that most closely matches the intent of the original
            | provision. Except as otherwise expressly provided herein, the Company hereto may amend these Terms, from time to
            | time, in its sole discretion. You are responsible for checking the Website for any amendments, modifications or
            | other changes to these Terms and the Privacy Policy. No waiver by the Company of any provision of these Terms, nor
            | consent to any departure by you from these Terms, shall in any event be effective unless such waiver is in writing
            | and signed by the Company, and then such waiver or consent shall be effective only in the specific instance and
            | for the specific purpose for which given.
        p.c0
          span.c5 Dispute Resolution
        p.c0.c6
          span.c5
        p.c0
          span.c3
            | Any dispute between you and the Company (whether or not such dispute involves a third
            | party) shall be resolved by binding, confidential, individual arbitration, rather than in court; except that you
            | or the Company may assert claims in small claims court if such claims qualify.
          span.c5 &nbsp;
        p.c0.c6
          span.c5
        p.c0
          span.c3
            | You acknowledge that there is no judge or jury in arbitration, and your right to appeal
            | the outcome of arbitration is limited. An arbitrator can award, on an individual basis, the same damages or relief
            | as a court, and shall be required to follow these Terms.
        p.c0.c6
          span.c5
        p.c0
          span.c3
            | This dispute resolution provision shall be governed by the Federal Arbitration Act and
            | shall be conducted under the American Arbitration Association (AAA) rules for arbitration of commercial disputes.
            | The AAA&rsquo;s rules are available at 
          span.c18
            a.c2(href='https://www.google.com/url?q=http://www.adr.org&sa=D&source=editors&ust=1648519301503648&usg=AOvVaw1vS9mdUPxC5fxdwkhfJjAO') www.adr.org
          span.c3
            | . The award entered by the arbitrator shall include the expenses of arbitration, reasonable legal fees
            | and reasonable expenses for expert and other witnesses and any judgment on the award entered by the arbitrator may
            | be entered in a court of competent jurisdiction. The arbitrator shall not have authority to award damages,
            | remedies or awards that conflict with these Terms. Each party will be responsible for paying any AAA filing,
            | administrative and arbitrator fees in accordance with AAA rules.
        p.c0.c6
          span.c5
        p.c0
          span.c3
            | All claims must be brought in your individual capacity, and not as a plaintiff or class
            | member in any purported class, consolidated, or representative proceeding, and, unless the Company agrees
            | otherwise, the arbitrator may not consolidate more than one person&rsquo;s claims.
        p.c0.c6
          span.c3
        p.c1
          span.c3
            | Notwithstanding the foregoing, the Company may bring suit in court against you to
            | enjoin infringement or misuse of any intellectual property rights.
        p.c1.c6
          span.c5
        p.c1
          span.c3
            | You agree that the laws of the State of Colorado, without regard to principles of
            | conflict of laws, shall govern these Terms and any dispute arising from these Terms. The application of the United
            | Nations Conventions on Contracts for the International Sale of Goods is expressly excluded. For any action at law
            | or in equity relating to the arbitration provision in these Terms, for matters not requiring arbitration under
            | these Terms, or in the event this arbitration provision is deemed unenforceable, you agree to resolve any dispute
            | arising from these Terms and/or the Website, Tokens, Application and/or Content exclusively in the district courts
            | located in Boulder County, Colorado, and to submit to the exclusive personal jurisdiction of such courts for the
            | purpose of litigating all such disputes.
          span.c5 You and the Company hereby
          span.c3 &nbsp;
          span.c5
            | expressly waive your right to a trial by jury and agree that the
            | prevailing party in any such action shall be entitled to collect its costs and expenses of such action (including
            | reasonable legal fees) from the non-prevailing party
          span.c3 .
        div
          p.c7
            span.c13 {W1631679 MBC}
