mixin countdown-timer
  .countdown-timer.flex.items-center.text-white-off.space-x-8.py-4.px-8.rounded(class="bg-black-off/80")
    each unit in ['days', 'hours', 'minutes', 'seconds']
      .w-32.space-y-4
        .font-bold.text-8xl.text-center.w-full(data-component=unit)
        .uppercase.text-center= unit
